body {
  box-sizing: border-box;
}


.main-box {
  width: auto; 
  padding-top: 10px;
  margin: auto;
}

.main-box .container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
  column-gap: 10px;
}

.main-box .container .products {
  width: 100%;
  height: 100%;
  position: relative;
  outline: none;
  vertical-align: baseline;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  

}

.main-box .container .products .image img {
  width: 100%;
  height: auto;
  border-radius: 5px;

}




