body {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main-box {
  width: 90%;
}

.products-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px; /* Optionally, set a maximum width for the container */
}

.products {
  width: calc(33.33% - 20px);
  /* background-color: #fff; */
  border-radius: 5px;
  margin: 10px;
  padding: 20px;
  text-align: left;
  height: 300px; /* Set a fixed height for the product container */
}

.products .image img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Ensure name and price start on a new line */
.products .name,
.products .price {
  display: block;
}
